@import "tailwindcss";

body {
  font-family: 'Ubuntu', sans-serif;
}

:root{
    --background: #1f1f1f;
    --foreground: #26e400;
    --text-main: #ffff;
    --border-main-color: #8d8d8d;
    background: var(--background);
}

@theme inline{
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-main: var(--text-main);
    --border-main: var(--border-main-color);
}

html{
    scroll-behavior: smooth;
}

/*page transition*/

/* Page Transition Animations */

.page-enter-active,
.page-leave-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.page-enter-from {
    opacity: 0;
    transform: translateY(70px);
}

.page-leave-to {
    opacity: 0;
    transform: translateX(-90px);
}

/* Reset transform after animation to prevent scrolling issues */
.page-enter-to,
.page-leave-from {
    opacity: 1;
    transform: translateY(0);
}


/* Navbar Transition Animations */

.navbar-enter-active,
.navbar-leave-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-enter-from {
    opacity: 0;
    transform: translateY(70px);
}

.navbar-leave-to {
    opacity: 0;
    transform: translateX(-90px);
}

/* Reset transform after animation to prevent scrolling issues */
.navbar-enter-to,
.navbar-leave-from {
    opacity: 1;
    transform: translateY(0);
}

/* Modal transistion */

.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-enter-from {
    opacity: 0;
    transform: translateY(70px);
}

.modal-leave-to {
    opacity: 0;
    transform: translateX(-90px);
}

/* Reset transform after animation to prevent scrolling issues */
.modal-enter-to,
.modal-leave-from {
    opacity: 1;
    transform: translateY(0);
}